OPEN_KRAKEN_HTTP_ADDR=127.0.0.1:8080
OPEN_KRAKEN_API_BASE_PATH=/api/v1
OPEN_KRAKEN_WS_PATH=/ws
OPEN_KRAKEN_APP_DATA_ROOT=./.open-kraken-data
OPEN_KRAKEN_LOG_LEVEL=info
OPEN_KRAKEN_WEB_DIST_DIR=./web/dist
